.button {
  transition: transform 0.2s ease-in-out;
  background: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  border: none;
  padding: 0;
  outline: 0;
  border: 0;
}

.button:hover {
  transform: scale(1.1);
}
