.container {
  grid-template-rows: repeat(3, min-content);
  background-color: var(--keyboard-color);
  padding: 2rem 2rem 2rem 3.25rem;
  place-content: center;
  border-radius: 1rem;
  margin: 3rem 0;
  display: grid;
  gap: 0.5rem;
}

.container > div:nth-child(2) {
  margin-left: 1rem;
}

.container > div:nth-child(3) {
  margin-left: -3rem;
}

.row {
  grid-template-columns: repeat(10, min-content);
  display: grid;
  gap: 0.5rem;
}
