@import './themes.css';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color-1);
  color: var(--color);
  height: 100vh;
}

svg {
  color: var(--svg-color);
}
