:root {
  --background-modal-color: rgba(255, 255, 255, 0.8);
  --square-default-color: rgba(147, 155, 159, 0.3);
  --background-color-1: #ffffff;
  --background-color-2: #f3f3f3;
  --svg-color-accent: #ffffff;
  --disabled-color: #939b9f;
  --success-color: #6aaa64;
  --warning-color: #ceb02c;
  --border-color: #000000;
  --svg-color: #0000007d;
  --color: #000000;

  --keyboard-color: rgba(218, 220, 224, 0.3);
  --keyboard-key-char-color: #56575e;
  --keyboard-key-color: #D3D6DA;

  color-scheme: light;
}

html.dark {
  --background-modal-color: rgba(38, 43, 60, 0.8);
  --square-default-color: rgba(147, 155, 159, 0.2);
  --background-color-1: #262b3c;
  --background-color-2: #dadce008;
  --svg-color-accent: #262b3c;
  --border-color: #939b9f;
  --svg-color: #ffffff;
  --color: #ffffff;

  --keyboard-color: rgba(218, 220, 224, 0.03);
  --keyboard-key-char-color: #ffffff;
  --keyboard-key-color: #565f7e;

  color-scheme: dark;
}
